<div data-ng-controller="todoController" id="todo-view" class="vertical grid-block small-10 small-offset-1">

    <div class="grid-content">
      <h3>Todos</h3>
      <form data-ng-submit="create(todo)">
        <input type="text" data-ng-model="todo.todo" placeholder="Type and press enter">
      </form>
    </div>

    <div class="grid-content">
      <ul>
        <li data-ng-repeat="todo in todos" data-ng-class="{even: !$even, odd: !$odd}">

          <div data-ng-show="!todo.editing">
            <input type="checkbox" data-ng-model="todo.done" data-ng-change="save(todo)">
            <span ng-class="{strike: todo.done}">{{ todo.todo }}</span>
            <button data-ng-click="remove(todo)" class="todo-button">Delete</button>
            <button data-ng-click="editToggle(todo)" class="todo-button">Edit</button>
          </div>

          <div data-ng-show="todo.editing">
            <form data-ng-submit="editToggle(todo)">
            <input type="text" data-ng-model="todo.todo">
          </div>

        </li>
      </ul>
    </div>

</div>
